*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#eef3f7;
padding:15px;
}

header{
text-align:center;
padding:20px 10px;
margin-bottom:20px;
background:#0b8457;
color:white;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
}

header h1{
font-size:30px;
margin-bottom:8px;
}

header p{
font-size:16px;
opacity:.9;
}

.card{
background:white;
border-radius:15px;
padding:18px;
margin-bottom:18px;
box-shadow:0 4px 12px rgba(0,0,0,.12);
transition:.3s;
}

.card:hover{
transform:translateY(-3px);
}

.card h2{
color:#0b8457;
font-size:24px;
margin-bottom:10px;
}

.time{
font-size:18px;
font-weight:bold;
color:#444;
margin-bottom:10px;
}

.status{
font-size:16px;
margin-bottom:15px;
color:red;
font-weight:bold;
}

button{
width:100%;
padding:15px;
border:none;
border-radius:10px;
background:#0b8457;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#086a46;
}

button:active{
transform:scale(.98);
}

@media(max-width:500px){

header h1{
font-size:26px;
}

.card h2{
font-size:22px;
}

button{
font-size:17px;
}

}
#today{

font-size:17px;

margin-top:8px;

}

#clock{

font-size:30px;

margin-top:10px;

font-weight:bold;

letter-spacing:2px;

}
#authScreen{

background:white;

padding:20px;

border-radius:15px;

margin-bottom:20px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

#authScreen h2{

text-align:center;

margin-bottom:20px;

color:#0b8457;

}

#authScreen input{

width:100%;

padding:15px;

margin-bottom:15px;

border:1px solid #ddd;

border-radius:10px;

font-size:17px;

outline:none;

}

#authScreen button{

margin-bottom:10px;

}
